<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSCameraUsageDescription</key>
	<string>Scanora needs camera access to scan food product barcodes and read nutritional information.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Scanora needs photo library access to select product images when contributing new products.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Scanora needs permission to save product images to your photo library.</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
</dict>
</plist>
